# Compiler output
out/
cache/

# Dependencies
lib/
node_modules/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
lcov.info
coverage/

# Build artifacts
broadcast/
